/* Cabecalho */

/* Nomenclatura de elementos */
.centro { grid-area: div-centro; }

/* Criacao da grid */
.cabecalho {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100%;
}

header .centro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Slider */
.slider {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 1fr 40px;
}

.slider .control-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.slider .control-rigth {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.slider .paginacao {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* ******************************
*   Obs: A sobreposição a seguir
*   foi intencional e será 
*   corrigida com uso do z-index 
* ******************************* */

.slider figure {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Conteudo / Matérias */
/* .cards * {
    display: none;
} */

main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100%;
}

main .centro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
}

.cabecalho-conteudo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cards {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
}

.card1 {
    grid-column-start: 1;   
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.card2 {
    grid-column-start: 2;   
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.card3 {
    grid-column-start: 3;   
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.card4 {
    grid-column-start: 1;   
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.card5 {
    grid-column-start: 2;   
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.card6 {
    grid-column-start: 3;   
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Gráfico */
article {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
}

article .grafico-centro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grafico-desc {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px auto;
}

.grafico-desc h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grafico-desc .left {
    grid-column: 1 2;
    grid-row: 2 3;
}

.grafico-desc .rigth {
    grid-column: 2 3;
    grid-row: 2 3;  
}

/* Mapa */
.mapa {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#mapa {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Contato / Formulário */
.div-contato { grid-area: contato; }
.div-form { grid-area: formulario; }

.contato {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 100%;
}

.div-contato { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}

.div-form {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.div-contato {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100%;
}

.div-contato-conteudo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.div-form {
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: 100%;
}

.div-form-conteudo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}